@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
// @import 'bootstrap/scss/bootstrap';

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

body {
  font-size: 14px;
}

.milonga {
  font-family: 'Milonga';
}

.slide-left {
  left: -100%;
  opacity: 0;
  transition: all 500ms ease-in-out;

  &--active {
    left: 0;
    opacity: 100;
  }
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

a {
  color: inherit;
}

.page-title {
  @apply text-3xl font-black leading-snug;
}

input:focus {
  outline: none;
}
